version: "3.9"

services:
  api:
    container_name: note_api
    build: .
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - mysql
      - redis
    volumes:
      - .:/app
      - /app/node_modules
    restart: unless-stopped

  mysql:
    container_name: note_mysql
    image: mysql:8.0
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: notes_db
      MYSQL_USER: notes_user
      MYSQL_PASSWORD: notes_pass
    volumes:
      - mysql_data:/var/lib/mysql
    restart: unless-stopped

  redis:
    container_name: note_redis
    image: redis:7
    ports:
      - "6379:6379"
    restart: unless-stopped

volumes:
  mysql_data:
